# Backend
fastapi
uvicorn
crewai
langchain
langchain-google-genai
google-generativeai
supabase
chromadb
pandas
numpy
python-dotenv
scikit-learn
setuptools
jose
pydantic_settings
pydantic[email]
python-multipart
langchain_community

# Frontend
streamlit
requests
plotly