# Backend
fastapi
uvicorn
crewai
langchain
langchain-google-genai
langchain_community
google-generativeai
supabase
chromadb
pandas
numpy
python-dotenv
scikit-learn
setuptools
python-jose
pydantic_settings
pydantic[email]
python-multipart
langchain_community
psycopg2
pycryptodome
passlib
crewai[tools]

# Frontend
streamlit
requests
plotly